.resume_container {
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  padding: 50px 0;
}

.resume_wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.select_wrapper {
  width: 100%;
  float: left;
  box-sizing: border-box;
  min-height: 1px;
}

.select_box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 24px;
  align-items: center;
  font-size: 20px;
  margin: 24px 0;
  border: 1px solid var(--color-border);
  cursor: pointer;
  span {
    text-transform: uppercase;
  }
}

.box_active {
  background-color: var(--color-impact);
  font-weight: 600;
  color: #fff;
}

.resume_card_wrapper {
  position: relative;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 645px;
}

.resume_card {
  box-shadow: none;
  border: 1px solid var(--color-border);
  transition: 0.3s ease transform;
}

.resume_card_title {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background);
  padding: 24px;
  text-transform: uppercase;
  color: var(--color-impact);
  font-size: 21px;
  font-weight: bold;
}

.resume_card_content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-sub-background);
}

.resume_content {
  position: relative;

  h6 {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 10px;

    & > :nth-child(1) {
      font-weight: 700;
    }
  }

  .date {
    display: flex;
    gap: 0.4rem;
    color: #aaa;
    font-size: 13px;
  }

  ul {
    padding-left: 16px;
    padding-bottom: 24px;
    margin-bottom: 0;
    li {
      font-size: 14px;
      padding: 8px;
      line-height: 1;
    }
  }

  p {
    font-size: 15px;
  }
}

.color_seperator {
  background: var(--color-impact);
  height: 2px;
  width: 70px;
  margin-bottom: 24px;
}

.col_wrapper {
  display: flex;
  gap: 0.25rem;
}

.col_half {
  width: 50%;
  margin-left: auto;

  h6 {
    text-wrap: wrap;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  p {
    margin-top: 0;
    text-wrap: wrap;
    font-size: 15px;
  }
}

@media only screen and (min-width: 600px) {
  .resume_card_wrapper {
    width: 100%;
    margin-left: auto;
  }
}

@media (max-width: 800px) {
  .select_wrapper {
    display: none;
  }

  .resume_card {
    margin-bottom: 24px;
  }
}

@media (min-width: 800px) {
  .card_0 {
    position: relative;
  }

  .card_1,
  .card_2,
  .card_3,
  .card_4 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  // 카드 애니매이션
  .first {
    transform: scale(1) translate(0, 0);
    z-index: 4;
  }

  .second,
  .thrid,
  .forth .fifth {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }

  .second:hover {
    transform: scale(0.9) translate(0, -60px);
  }
  .thrid:hover {
    transform: scale(0.8) translate(0, -120px);
  }
  .forth:hover {
    transform: scale(0.7) translate(0, -190px);
  }
  .fifth:hover {
    transform: scale(0.6) translate(0, -270px);
  }

  .second {
    transform: scale(0.9) translate(0, -50px);
    z-index: 3;
  }

  .thrid {
    transform: scale(0.8) translate(0, -110px);
    z-index: 2;
  }

  .forth {
    transform: scale(0.7) translate(0, -180px);
    z-index: 1;
  }

  .fifth {
    transform: scale(0.6) translate(0, -260px);
    z-index: 0;
  }
}

@media only screen and (min-width: 993px) {
  .select_wrapper {
    width: 33.3%;
    margin-left: auto;
  }

  .resume_box_wrapper {
    width: 66.6%;
    margin-left: auto;
  }
}
