.title_wrapper {
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.title_style {
  position: relative;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
}

.box_title_text {
  display: inline-block;
  position: relative;
  transition: transform 0.3s;
  &::before {
    content: attr(data-text);
    position: absolute;
  }
}

.title_frist {
  color: var(--color-text);
  &::before {
    color: #fa5b0f;
    top: 105%;
  }
}

.title_second {
  color: #fa5b0f;
  &::before {
    color: var(--color-text);
    bottom: 105%;
  }
}

@media (max-width: 1200px) {
  .title_style {
    font-size: 30px;
  }
}
