.container {
  position: relative;
  width: inherit;
}

.imgBox {
  position: relative;
  overflow: hidden;
}

.imgContainer {
  display: flex;
  transform: translateX(-100%);
  transition: 0.4s all ease-in-out;

  & > img {
    flex: none;
    position: relative !important;
    height: unset !important;
    object-fit: cover;
  }
}

.arrowBtn {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    & > :nth-child(n) {
      opacity: 0.5;
    }
  }
}

.leftBtn {
  left: 0;
}

.rightBtn {
  right: 0;
}

.imgSelectorWrapper {
}

.imgSelectorBox {
}
