.content {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 0.1s linear 0s;
  cursor: default;
}

.close_icon {
  opacity: 0;
  position: absolute;
  top: 16px;
  right: 24px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.1s linear 0s;
}

.view {
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.3s linear 0.5s;
}

.pageTitle {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  position: relative;
  text-transform: uppercase;
}

.titleText {
  font-size: 55px;
  text-align: center;
  font-weight: 900;
}

.impactText {
  color: var(--color-impact);
}

@media (max-width: 480px) {
  .titleText {
    font-size: 40px;
  }
}
