.box {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
}

.title {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;

  & > :nth-child(n) {
    transition: all 0.2s ease-in-out;
  }

  & > :nth-child(1n) {
    font-size: 25px;
    font-weight: 700;
  }

  & > :nth-child(2) {
    margin: 25px 0;
    font-size: 50px;
    font-weight: 900;

    span {
      font-size: 25px;
    }
  }

  & > :nth-child(3) {
    color: var(--color-impact);
  }
}

.shrink {
  transform: scale(0.5);
  opacity: 0;
}

@media (max-width: 1200px) {
  .title {
    & > :nth-child(1n) {
      font-size: 20px;
      font-weight: 700;
    }

    & > :nth-child(2) {
      margin: 20px 0;
      font-size: 40px;
      font-weight: 900;

      span {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 1920px) {
  .title {
    & > :nth-child(1n) {
      font-size: 40px;
      font-weight: 700;
    }

    & > :nth-child(2) {
      margin: 20px 0;
      font-size: 80px;
      font-weight: 900;

      span {
        font-size: 40px;
      }
    }
  }
}
