// light
$text-color-light: #666;
$bg-color-light: #fff;
$bg-color-beige: #eee9e9;
$border-color-light: #ddd;
$sub-icon-color-light: #dddddd;

// dark
$text-color-dark: #fff;
$bg-color-dark: #111111;
$bg-color-light-dark: #222222;
$border-color-dark: #333;
$sub-icon-color-dark: #777777;

$impact-color: #fa5b0f;
