// light
$text-color-light: #232323;
$bg-color-light: #fff;
$bg-color-beige: #eee9e9;
$border-color-light: #eee9e9;

// dark
$text-color-dark: #fff;
$bg-color-dark: #111111;
$bg-color-light-dark: #222222;
$border-color-dark: #333;

$impact-color: #fa5b0f;
