@use "@/styles/themes.scss" as *;

html,
body {
  background-color: var(--color-background);
  color: var(--color-text);
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
}

.max-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.content-container {
  padding: 0 24px;
}

@media (max-width: 480px) {
  .content-container {
    padding: 0 15px;
  }
}

/* 프로젝트 상세 페이지 */
.detail-layout {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.detail-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  background-color: var(--color-impact);
  height: 22.5rem;
}

.detail-header-txt-wrap {
  position: absolute;
  left: 50%;
  bottom: 3rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 670px;
  z-index: 1;
}

.detail-content-wrapper {
  background-color: var(--color-background);
  width: 100%;
  margin-top: 22.5rem;
  padding: 3rem 0 4rem;
}

.detail-content {
  position: relative;
  max-width: 680px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .detail-header {
    height: 27rem;
  }

  .detail-content-wrapper {
    margin-top: 27rem;
  }
}
