@use "./color.scss" as *;

[data-theme="light"] {
  --color-text: #{$text-color-light};
  --color-background: #{$bg-color-beige};
  --color-sub-background: #{$bg-color-light};
  // --color-btn: #{$btn-color-1};
}

[data-theme="dark"] {
  --color-text: #{$text-color-dark};
  --color-background: #{$bg-color-dark};
  --color-sub-background: #{$bg-color-light-dark};
  // --color-btn: #{$btn-color-2};
}
