@use "./color.scss" as *;

[data-theme="light"] {
  --profile-image: url(../../public/myImages/profile_white.jpg);
  --color-text: #{$text-color-light};
  --color-background: #{$bg-color-beige};
  --color-sub-background: #{$bg-color-light};
  --color-border: #{$border-color-light};
  --color-sub-icon-color: #{$sub-icon-color-light};
  // --color-btn: #{$btn-color-1};
}

[data-theme="dark"] {
  --profile-image: url(../../public/myImages/profile_black.jpg);
  --color-text: #{$text-color-dark};
  --color-background: #{$bg-color-dark};
  --color-sub-background: #{$bg-color-light-dark};
  --color-border: #{$border-color-dark};
  --color-sub-icon-color: #{$sub-icon-color-dark};
  // --color-btn: #{$btn-color-2};
}

:root {
  --color-impact: #{$impact-color};
}
