.badge_wrapper {
  padding: 34px 0;
}

.badge_container {
  margin-left: auto;
  margin-right: auto;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.col_3 {
  width: 100%;
  margin-left: auto;
  float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
  text-align: center;
  margin-bottom: 20px;

  & > :nth-child(1) {
    color: var(--color-sub-icon-color);
  }

  & > :nth-child(2) {
    color: var(--color-impact);
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1rem 0;

    span {
      font-size: 14px;
    }
  }

  & > :nth-child(3) {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.15rem;
    line-height: 110%;
    margin: 0.7666666667rem rem 0 0.46rem 0;
  }
}

@media only screen and (min-width: 600px) {
  .col_3 {
    width: 33.3%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}
