.box {
  float: left;
  padding-bottom: 24px;
  position: relative;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;

  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.link {
  background-color: #4472c4;
  position: relative;
  display: flex;
  flex: 1 1 30%;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  transition: 0.3s ease-out;
}

@media only screen and (min-width: 993px) {
  .box {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}
