.group {
  position: relative;
  display: flex;
  flex-direction: column;

  & > :nth-child(n) {
    border-bottom: 1px solid var(--color-background);
  }

  & > :nth-child(n).opend {
    margin: 1rem 0;
  }

  & > :nth-child(n).opend + .opend {
    margin: 0;
    margin-bottom: 1rem;
  }

  & > :nth-child(1).opend {
    margin: 0;
    margin-bottom: 1rem;
  }

  & > :nth-last-child(1).opend {
    margin: 0;
    margin-top: 1rem;
  }
}

.container {
  background-color: var(--color-sub-background);
  box-shadow: 1px 1px 1px 1px var(--color-background);
  transition: all 0.2s ease-in-out;
}

.titleBox {
  position: relative;
  padding: 1.5rem;

  h3 {
    margin: 0;
  }

  & > :nth-child(2) {
    position: absolute;
    right: 8px;
    top: 35%;
  }
}

.contentBox {
  height: 0;
  padding: 0 1.5rem;
  transition: all 0.2s ease-in-out;

  p {
    display: none;
    margin: 0;
  }
}

.contentBoxOpen {
  padding: 1rem 1.5rem;
  height: auto;

  p {
    display: block;
  }
}
